@{
    ViewBag.Title = "About Us";
}
<div class="row">
    <h2 class="col-md-12">About Us.</h2>
    <div class="col-md-8">
        Welcome to Dont Trust us With Money! Your home for bad financial advice. It took us
        litterally 10s of minutes to throw together our state of the art (DISCLAIMER: Not actually state of the
        art, or maybe even accurite) financial investment calculator. It is our one and ONLY "product" and 
        it barely functions at that! Please let us guide you to the slow agonizing proceess of bankruptcy 
        today!!!!
    </div>
    <div class="col-md-4">
        <img src="~/Images/moneyRain.jpg" style="width:100%; border-radius:30px; 
    max-height:250px; max-width:250px;" />
    </div>
</div>