@{
ViewData["Title"] = "Contact Us";
}
<h2>Contact Us.</h2>
<h3>reach out for all your (probably bankrupting) financial advice!</h3>

<address>
42.42 East Airport Road<br />
Trafic City, MI 49123<br />
<abbr title="Phone">P:</abbr>
800.BAD.ADVC
</address>

<address>
<strong>Tech Support:</strong> <a href="mailto:Support@dontTrustUsWithMoney.com">Support@dontTrustUsWithMoney.com</a><br />
<strong>Sales/Marketing:</strong> <a href="mailto:Marketing@dontTrustUsWithMoney.com">Marketing@dontTrustUsWithMoney.com</a>
</address>